<p-divider>Escolha o Tipo de Upload</p-divider>

<div class="card p-4">
  <div class="flex gap-4 mb-3">
    <!-- Opção Logo -->
    <div class="flex align-items-center gap-2">
      <p-radioButton name="uploadType" value="logo" label="Logo" [(ngModel)]="uploadType"></p-radioButton>
      <ng-container *ngIf="logoImage">
        <p-avatar [image]="logoImage.filePath" shape="circle" size="large"></p-avatar>
      </ng-container>
    </div>

    <!-- Opção PDF -->
    <div class="flex align-items-center gap-2">
      <p-radioButton name="uploadType" value="pdf" label="PDF" [(ngModel)]="uploadType"></p-radioButton>
      <ng-container *ngIf="pdfImage">
        <p-avatar [image]="pdfImage.filePath" shape="circle" size="large"></p-avatar>
      </ng-container>
    </div>
  </div>

  <!-- Área de Upload -->
  <p-fileUpload name="file" accept="image/*, application/pdf" maxFileSize="1000000"
    (onUpload)="onTemplatedUpload($event)" (onSelect)="onSelectedFiles($event)" customUpload>

    <ng-template pTemplate="header" let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback"
      let-uploadCallback="uploadCallback">
      <div class="flex flex-wrap justify-content-between align-items-center gap-2 w-full">
        <div class="flex gap-2">
          <p-button (click)="chooseCallback()" icon="pi pi-images" [rounded]="true" [outlined]="true"
            label="Escolher" />
          <p-button (click)="uploadCallback()" icon="pi pi-cloud-upload" [rounded]="true" [outlined]="true"
            severity="success" label="Enviar" [disabled]="!files || files.length === 0" />
          <p-button (click)="clearCallback()" icon="pi pi-times" [rounded]="true" [outlined]="true" severity="danger"
            label="Limpar" [disabled]="!files || files.length === 0" />
        </div>

        <p-progressBar [value]="totalSizePercent" [showValue]="false" styleClass="md:w-20rem h-1rem w-full md:ml-auto"
          [ngClass]="{ 'exceeded-progress-bar': totalSizePercent > 100 }">
          <span class="white-space-nowrap">{{ totalSize }}B / 1Mb</span>
        </p-progressBar>
      </div>
    </ng-template>

    <ng-template pTemplate="empty">
      <div class="flex flex-column align-items-center justify-content-center p-4 border-2 border-dashed border-300">
        <i class="pi pi-cloud-upload text-6xl text-400 mb-3"></i>
        <p class="mb-0">Arraste e solte os arquivos aqui para fazer o upload.</p>
      </div>
    </ng-template>

  </p-fileUpload>
</div>

<p-toast></p-toast>
