.list-item:nth-child(even) {
  background-color: #c04b4b; /* Define a cor da célula para valores pares */
}

.list-item:nth-child(odd) {
  background-color: #d1fae5; /* Define a cor da célula para valores ímpares */
}
.payment-cash {
  background-color: #4caf50; /* Verde */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.payment-credit {
  background-color: #2196f3; /* Azul */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.payment-debit {
  background-color: #ffc107; /* Amarelo */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
.payment-pix {
  background-color: #ff8b07; /* Amarelo */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
.payment-others {
  background-color: #0dbe24; /* Cinza */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
.payment-total {
  background-color: #726d6d; /* Cinza claro */
  color: #424242; /* Preto */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
.th {
  text-align: center;
}
