<div class="p-grid mt-2">
  <div class="p-col-12">
    <div class="card">
      <div class="flex justify-content-between flex-wrap">
        <div class="flex align-items-center font-bold border-round">
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input class="text" pInputText type="text" [(ngModel)]="searchQuery" (ngModelChange)="search(1, true)"
              placeholder="Pesquisar produtos..." />
          </span>
          <p-button icon="pi pi-times" styleClass="p-button-danger p-button-text" (onClick)="clearSearch()"
            [disabled]="!searchQuery"></p-button>
        </div>
        <p-button icon="pi pi-trash" label="Limpar caixa"
          styleClass="responsive-button p-button-rounded p-button-danger p-button-text" (click)="clearBox()"></p-button>
      </div>

      <!-- Tabela com scroll limitado -->
      <div class="table-container">
        <p-table [value]="products" [scrollable]="true" [scrollHeight]="getScrollHeight()" [rows]="25"
          [virtualScroll]="true" [virtualScrollItemSize]="46" [lazy]="true" [totalRecords]="totalRecords"
          (onLazyLoad)="loadDataLazy($event)" *ngIf="products.length > 0" class="p-0" styleClass="p-datatable-striped">

          <ng-template pTemplate="header">
            <tr>
              <th>Produto</th>
              <th style="text-align: center">Estoque</th>
              <th style="text-align: center">Valor</th>
              <th style="text-align: center">Ação</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-product>
            <tr>
              <td style="text-align: center; cursor: pointer;" (click)="addToBox(product)">
                {{ product.title }}
              </td>
              <td style="text-align: center">
                <div [ngClass]="{
                  'outofstock': (product.quantity - getQuantityInBudget(product._id).quantity) === 0,
                  'instock': (product.quantity - getQuantityInBudget(product._id).quantity) >= 1}">
                  <span *ngIf="(product.quantity - getQuantityInBudget(product._id).quantity) > 0">
                    {{ product.quantity - getQuantityInBudget(product._id).quantity }}
                  </span>
                  <span *ngIf="(product.quantity - getQuantityInBudget(product._id).quantity) === 0" class="badge">
                    Fora de Estoque
                  </span>
                  <i pTooltip="Produto abaixo do estoque mínimo" tooltipPosition="top"
                    *ngIf="(product.quantity - getQuantityInBudget(product._id).quantity) <= product.min_quantity"
                    class="pi pi-exclamation-triangle information info text-xl ">
                  </i>
                </div>
              </td>
              <td style="text-align: center">{{ product.price | currency:'BRL':'symbol':'1.2-2'}}</td>
              <td style="text-align: center">
                <p-button icon="pi pi-cart-plus" styleClass="p-button-rounded p-button-success p-button-outlined"
                  (click)="addToBox(product)"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>

      </div>

      <!-- Loader -->
      <!-- <div *ngIf="loading" class="text-center">
        <i class="pi pi-spinner pi-spin" style="font-size: 2em;"></i>
      </div> -->
    </div>


    <div *ngIf="boxItems.length > 0" class="card p-4">
      <p-table [value]="boxItems" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th>Produto</th>
            <th style="text-align: center">Quantidade</th>
            <th style="text-align: center">Valor Unitário</th>
            <th style="text-align: center">Valor Total</th>
            <th style="text-align: center">Ação</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.title }}</td>
            <td style="text-align: center">
              <p-inputNumber styleClass="width: 2rem" [size]="1" [(ngModel)]="item.quantity"
                (ngModelChange)="updateQuantity($event, item)">
              </p-inputNumber>

            </td>
            <td style="text-align: center">{{ item.price | currency:'BRL':'symbol':'1.2-2'}}</td>
            <td style="text-align: center">{{ (item.price * item.quantity) | currency:'BRL':'symbol':'1.2-2'}}</td>
            <td style="text-align: center">
              <p-button icon="pi pi-eye" styleClass="p-button-rounded p-button-info p-button-outlined"
                (click)="openSidebar(item)">
              </p-button>
              <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger p-button-text"
                (click)="remove(item)"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<div class="p-0 p-col-12" *ngIf="boxItems.length === 0">
  <div class="">
    <br>
    <p class="text-center text-2xl text-red-700"><em>caixa vazio</em></p>
    <br>
    <br>
    <br>
  </div>
</div>

<!-- Resumo do Caixa -->
<div class="col-12 p-0 ">
  <div class="card px-4 pt-4">
    <div class="p-fluid p-formgrid grid p-0">
      <div class="col-12 md:col-5 payment-width">
        <span class="text-lg">Forma de Pagamento</span>
        <div class="payment-options mt-2">
          <div *ngFor="let paymentOption of formPaymentOptions" class="payment-option"
            [class.selected]="selectedPayment === paymentOption.value"
            (click)="onFormPaymentSelected(paymentOption.value)">
            <i [class]="paymentOption.icon"></i>
            <span>{{ paymentOption.label }}</span>
          </div>
        </div>
      </div>


      <!-- Desconto -->

      <div class="col-12 md:col-2">
        <span class="text-lg mr-2">Desconto</span>
        <div class="flex align-items-center gap-2 mt-2">
          <p-inputNumber [(ngModel)]="generalDiscount" (onInput)="updateGeneralDiscount(generalDiscount)" mode="decimal"
            prefix="%" styleClass="small-input">
          </p-inputNumber>
        </div>
      </div>


      <div class="space">

      </div>

      <!-- Subtotal -->
      <div class="col md:col-1">
        <span class="text-lg">Subtotal:</span>
        <div class="text-lg font-bold mt-3">{{ subtotal | currency: 'BRL':'symbol':'1.2-2' }}</div>
      </div>

      <!-- Valor Total -->
      <div class="col md:col-2">
        <span class="text-lg">Valor Total:</span>
        <div class="flex align-items-center">
          <input pInputText class="mt-2 text-l" [(ngModel)]="grandTotal" (ngModelChange)="calcTroco()"
            placeholder="Valor Total" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
        </div>
      </div>

      <!-- Valor Recebido -->
      <div class="col-12 md:col-2">
        <span class="text-lg">Valor Recebido:</span>
        <input pInputText class="mt-2 text-l" [size]="10" id="value" inputId="integeronly" [(ngModel)]="total"
          (ngModelChange)="calcTroco()" styleClass="w-full" currencyMask
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
      </div>

      <!-- Valor do Troco -->
      <div class="col-12 md:col-8">
        <span class="text-lg">Troco:</span>
        <div class="text-white-950 font-bold text-xl pt-3">
          {{ totalTroco | currency: 'BRL':'symbol':'1.2-2' }}
        </div>
      </div>

      <!-- Botão Finalizar -->
      <div class="col-12 md:col-2">
        <p-button label="Finalizar Venda" icon="pi pi-check" (click)="submitOrder()" styleClass="w-full mt-4"
          [outlined]="true" [disabled]="loading" [loading]="loading">
        </p-button>
      </div>
      <div class="col-12 md:col-2 text-center md:text-left btn2">
        <!-- <p-splitButton class="pdf" label="Salvar" icon="pi pi-save" [model]="items"></p-splitButton> -->
        <p-button class="button" icon="pi pi-file-pdf" iconPos="right" label="Salvar PDF"
          (click)="saveBoxAsPdf()"></p-button>
      </div>
      <div class="col-12 md:col-2 text-center md:text-left btn2">
        <!-- <p-splitButton class="pdf" label="Salvar" icon="pi pi-save" [model]="items"></p-splitButton> -->
        <p-button class="button" icon="pi pi-receipt" iconPos="right" label="Imprimir cupom"
          (click)="printReceipt()"></p-button>

      </div>
    </div>
  </div>
</div>

<p-divider>Orçamentos</p-divider>
<div class="col-12 p-0 ">
  <div class="card px-4 pt-4">
    <div class="p-fluid p-formgrid grid p-0">
      <div class="col-12 md:col-3 text-center md:text-left">
        <p-autoComplete [(ngModel)]="customerName" [suggestions]="filteredCustomers"
          (completeMethod)="filterCustomer($event)" [dropdown]="true" placeholder="Nome do Cliente"></p-autoComplete>
      </div>
      <div class="col-12 md:col-2 text-center md:text-left btn2">
        <p-button class="button" icon="pi pi-id-card" iconPos="right" label="Salvar orçamento"
          (click)="createBudget()"></p-button>
      </div>
    </div>
  </div>
</div>



<p-toast></p-toast>
<p-sidebar [(visible)]="sidebarVisible" position="right" [baseZIndex]="10000">
  <h3>Detalhes do Produto</h3>
  <div *ngIf="selectedProduct">
    <p>ID: {{ selectedProduct._id }}</p>
    <p>Nome: {{ selectedProduct.title }}</p>
    <p>
      Estoque Atual:
      <span [ngClass]="{
        'outofstock': availableStock === 0,
        'lowstock': availableStock !== 0 && availableStock <= 10,
        'instock': availableStock > 10
      }">
        {{ availableStock }}
      </span>
    </p>
    <p>Preço de compra: {{ selectedProduct.purchasePrice | currency:'BRL':'symbol':'1.2-2' }}</p>
    <p>
      lucro: {{(editedPrice - selectedProduct.purchasePrice |
      currency:'BRL':'symbol':'1.2-2')}}
    </p>
    <p>
      Porcentagem de lucro: {{((editedPrice - selectedProduct.purchasePrice) / selectedProduct.purchasePrice *
      100 |
      number:'1.2-2')}}%
    </p>
    <div class="p-field">
      <label for="editedPrice">Preço:</label>
      <input pInputText id="editedPrice" [(ngModel)]="editedPrice" currencyMask
        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
    </div>

    <div class="mt-2 p-mt-3 flex">
      <div class="mr-2">
        <button pButton label="Salvar" (click)="saveEditedPrice()"></button>
      </div>
      <div>
        <button pButton label="Cancelar" (click)="closeSidebar()" class="p-button-secondary"></button>
      </div>

    </div>
  </div>
</p-sidebar>