<div class="flex align-items-center justify-content-center min-h-screen surface-100">
  <p-card class="p-4 shadow-3 text-center" styleClass="max-width: 400px;">
    <ng-template pTemplate="content">
      <div class="mb-3">
        <h1 class="text-8xl font-bold text-red-500 mb-2 animate-bounce">404</h1>
        <p class="text-lg text-600">Oops! A página que você procura não existe.</p>
      </div>
      <p-button label="Voltar para o Início" icon="pi pi-home" class="p-button-rounded p-button-primary mt-3"
        routerLink="/"></p-button>
    </ng-template>
  </p-card>
</div>
