<div class="card p-3">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <p-avatar image="../assets/image/logo.png" shape="circle" styleClass="mr-2" size="xlarge"></p-avatar>
    </ng-template>
    <ng-template pTemplate="item" let-item>
      <ng-container *ngIf="item.routerLink; else urlRef">
        <a [routerLink]="item.routerLink" [ngClass]="{'active': activeItem?.routerLink === item.routerLink}"
          class="p-menuitem-link text-lg">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-container>
      <ng-template #urlRef>
        <a *ngIf="item.url; else noLink" [href]="item.url" class="p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-template>
      <ng-template #noLink>
        <div class="p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <span class="pi pi-fw pi-angle-down ml-2"></span>
        </div>
      </ng-template>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <div class="flex align-items-center gap-2 cursor-pointer" (click)="userOverlay.toggle($event)">
          <p-avatar label="{{ user.name.charAt(0) }}" shape="circle" styleClass="mr-2 bg-primary text-white"></p-avatar>
          <span class="text-lg font-semibold">{{ user.name }}</span>
          <i class="pi pi-angle-down text-lg"></i>
        </div>
        <p-overlayPanel #userOverlay [dismissable]="true">
          <p-menu [model]="userItems" class="p-menu-overlay"></p-menu>
        </p-overlayPanel>

        <p-button icon="pi pi-sign-out" label="Sair" styleClass="p-button-rounded p-button-text"
          (click)="logout()"></p-button>
      </div>
    </ng-template>
  </p-menubar>

</div>
